<% provide(:title, 'Login') %>
<h1 class="title is-1 has-text-centered">Log in</h1>
<div class="columns">
  <div class="column is-half is-offset-one-quarter">
    <%= form_for(:session, url: login_path) do |f| %>

      <div class="field">
        <%= f.label :email, class: "label" %>
        <div class="control has-icons-left">
          <%= f.email_field :email, class: "input" %>
          <span class="icon is-small is-left">
            <i class="fas fa-envelope"></i>
          </span>
        </div>
      </div>

      <div class="field">
        <%= f.label :password, class: "label" %>
        <%= link_to "(forgot password)", new_password_reset_path %>
        <div class="control has-icons-left">
          <%= f.password_field :password, class: "input" %>
          <span class="icon is-small is-left">
            <i class="fas fa-lock"></i>
          </span>
        </div>
      </div>

      <%= f.label :remember_me, class: "checkbox" do %>
        <%= f.check_box :remember_me %>
        Remember me on this computer.
      <% end %>

      <%= f.submit "Log in", class: "button is-primary width-100" %>
    <% end %>
    <p>New user? <%= link_to "Sign up now!", signup_path %></p>
  </div>
</div>
